<div class="container-fluid mt-5 bg-light">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <img src="http://localhost:3000/images/arcos-dorados.jpg" class="bannerAdmin" alt="Arcos Dorados logo">
        </div>
        <div class="col-md-10 mx-auto col-lg-5 text-center">
            <div class="d-grid gap-2">
                 <h1><span class="label label-warning">Menu Administrador</span></h1>
                <a href="/admin/categorias" class="btn btn-lg btn-warning">CATEGORIAS</a>
                <a href="/admin/productos" class="btn btn-lg btn-warning">PRODUCTOS</a>
                <a href="/admin/usuarios" class="btn btn-lg btn-warning">USUARIOS</a>
                <a href="/admin/locales" class="btn btn-lg btn-warning">LOCALES</a>
                <a href="/admin/empleados" class="btn btn-lg btn-warning">EMPLEADOS</a>
            </div>
        </div>
    </div>
</div>