<div class="container-fluid bg-dark m-0" style="height: 100vh">
    <div class="row justify-content-center">
        <div class="col-7 text-light">
            <form action="/admin/productos/create" method="post">
                <div class="form group">
                    <label for="nombre">Nombre del producto<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="nombre" id="nombre">
                </div>
                <div class="form group">
                    <label for="descripcion">Descripcion del producto<span class="text-danger">*</span></label>
                    <textarea type="text" class="form-control" name="descripcion" id="descripcion"></textarea>
                </div>
                <div class="form group">
                    <label for="calorias_kcal">Calorias<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" name="calorias_kcal" id="calorias_kcal">
                </div>
                <div class="form group">
                    <label for="grasa_total_g">Grasas totales<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" name="grasa_total_g" id="grasa_total_g">
                </div>
                <div class="form group">
                    <label for="carbo_total_g">Carbohidratos<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" name="carbo_total_g" id="carbo_total_g">
                </div>
                <div class="form group">
                    <label for="proteinas_g">Proteinas<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" name="proteinas_g" id="proteinas_g">
                </div>
                <div class="form group">
                    <label for="peso_aprox_g">Peso<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" name="peso_aprox_g" id="peso_aprox_g">
                </div>
                <div class="form group">
                    <label for="sal_mg">Sal<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" name="sal_mg" id="sal_mg">
                </div>
                <div class="form group">
                    <label for="id_categoria">Seleccione la categoria<span class="text-danger">*</span></label>
                    <select name="id_categoria" class="form-select">
                        {{#each categorias}}
                        <option value="{{id}}">{{nombre}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form group">
                    <label for="precio">Precio<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" name="precio" id="precio">
                </div>
                <div class="form group">
                    <button type="submit" class="btn btn-info mt-2">Agregar Producto</button>
                </div>
            </form>
            <a href="/admin/productos" class="btn btn-info mt-2">Volver</a>
        </div>
    </div>
</div>