<div class="home">

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">

            <div class="carousel-item active" style="background-image: url('./images/Auto_Mac_17850f015c.jpg')">
                <div class="container">
                    <h2 style="color:white">Pasá por AutoMac</h2>
                    <p style="color:white">de cualquier manera y ganás siempre</p>
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('./images/HERO_SLIDER_DESKTOP_1_37af4fc9ee.jpg')">
                <div class="container">

                </div>
            </div>

            <div class="carousel-item" style="background-image: url('./images/Mc_Protegidos_f5bda8d78a.jpg')">
                <div class="container">
                    <h2>Nos cuidamos entre todos</h2>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="b-example-divider"></div>

    <div class="container-fluid">
        <div class="banner">
            <img src="http://localhost:3000/images/banner-principal-mac.jpg" class="bannerIndex" alt="">
        </div>
    </div>


    <div class="b-example-divider"></div>

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col">
                <a href="/productos/Hamburguesas">
                    <div class="card bg-warning" style="width: 27vh; heigh: 27vh;">
                        <img src="http://localhost:3000/images/1.png" class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <h2 class="card-title fw-bold outline">Carne de Res</h2>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="/productos/Pollo">
                    <div class="card bg-warning" style="width: 27vh; heigh: 27vh;">
                        <img src="http://localhost:3000/images/3.png" class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <h2 class="card-title fw-bold outline">Linea Pollo</h2>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="/productos/Ensaladas">
                    <div class="card bg-warning" style="width: 27vh; heigh: 27vh;">
                        <img src="http://localhost:3000/images/5.png" class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <h2 class="card-title fw-bold outline">Ensaladas</h2>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="/productos/Bebidas">
                    <div class="card bg-warning ratio ratio-1x1" style="width: 27vh; heigh: 27vh;">
                        <img src="http://localhost:3000/images/7.png" class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <h2 class="card-title fw-bold outline">Papas Fritas</h2>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="/productos/Bebidas">
                    <div class="card bg-warning" style="width: 27vh; heigh: 27vh;">
                        <img src="http://localhost:3000/images/6.png" class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <h2 class="card-title fw-bold outline">Bebidas</h2>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="/productos/Pollo">
                    <div class="card bg-warning" style="width: 27vh; heigh: 27vh;">
                        <img src="http://localhost:3000/images/8.png" class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <h2 class="card-title fw-bold outline">Postres</h2>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>



</div>