<div class="container">
    <div class="row text-light">
        <h1>Quienes somos</h1>
        <img src="http://localhost:3000/images/banner-principal-mac.jpg" class="bannerIndex" alt="">
        <p>Arcos Dorados es el mayor franquiciado independiente de McDonald’s del mundo y la cadena de restaurantes de
            servicio rápido más grande en América Latina y el Caribe. La Compañía tiene el derecho exclusivo a poseer,
            operar y otorgar franquicias de locales McDonald’s en 20 países y territorios de esas regiones incluyendo
            Argentina, Aruba, Brasil, Chile, Colombia, Costa Rica, Curazao, Ecuador, Guyana Francesa, Guadalupe,
            Martinica, México, Panamá, Perú, Puerto Rico, St. Croix, St. Thomas, Trinidad y Tobago, Uruguay y Venezuela.

            Desde el 2007, cuando nos consolidamos regionalmente, seguimos apostando por los mismos compromisos que
            conducen nuestro camino: calidad de la comida y transparencia; generación de empleo formal para jóvenes;
            apoyo a las comunidades; cadena de abastecimiento sustentable e impacto ambiental; diversidad e inclusión;
            innovación de experiencias para toda la familia, son algunos de ellos.</p>
        </row>
    </div>